@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
body {
  font-family: 'Nunito', sans-serif;
}

.person{
  margin: 50px 0 40px 0;
  border: 1px black solid;
  border-radius: 10px;
  width: 380px;
  height: 190px;
  box-shadow: 3px 3px gray;
  padding-top: 22px;
}

.person:hover{
  background-color: rgba(255, 255, 255, 0.548);
}


.contact1{
  background-color: rgb(228, 216, 224);
  border-radius: 10px;
}

.contact2{
  background-color: rgb(203, 218, 223);
  border-radius: 10px;
}

.contact3{
  background-color: rgb(218, 211, 230);
  border-radius: 10px;
}

